<div class="container">
<% @videos.each do |x| %>
<p> <div class="child">  
  <video controls width="310" height="230" src="<%= x.file %>"></video>
    <p> <%= x.title %> </p>

          <div>
            <%= link_to upvote_video_path(x), method: :put, remote: :true, class: "btn btn-default btn-sm" do %>

            <span class="glyphicon glyphicon-chevron-up"></span>
            Upvote

                        <% puts dom_id(Video.find(x.id)) %>
                        <% puts x.title %>
                        <% puts x.title %>
                        <% puts x.title %>
                        <% puts "wedwe" + x.id.to_s %>


            <div class="random-book" id= "<%= dom_id(Video.find(x.id)) %>" > <%= x.get_upvotes.size %> </div>
      <% end %>


          <div>
            <br><br>
            <% if user_signed_in? %>
              <p> Contributor: <%= x.contributor %> </p>
              <p> Email: <%= x.email %> </p>
              <p> Phone: <%= x.phone %> </p>
              <p> <%= link_to 'Destroy', x, method: :delete, data: { confirm: 'Are you sure?' } %> </p>
            <% end %>
          </div>
          </div>
          

</div> </p>
<% end %>
</div>

