<div class="container">
<% @videos.each do |x| %>
<p> <div class="child">  
  <video controls width="310" height="230" src="<%= x.file %>"></video>
    <p> <%= x.title %> </p>

          <div class="btn-group" onclick="Rails.ajax({url: '/videos/random', type: 'get'})" style="padding: 6px">
            <%= link_to upvote_video_path(x), method: :put, remote: :true, id: "like-count", class: "btn btn-default btn-sm" do %>

            <span class="glyphicon glyphicon-chevron-up"></span>
            Upvote
            <!-- <div> <%= x.get_upvotes.size %> </div> -->
            
              <p> <div class="random-book"></div> <%= x.get_upvotes.size %> </p>

      <% end %>


<!--       <button type="button" onclick="Rails.ajax({url: '/videos/random', type: 'get'})" style="padding: 6px">
        Get Random Book
      </button>

      <div class="random-book"></div> -->

 <!--          <= link_to dislike_video_path(x), method: :put, remote: :true, id: "like-count", class: "btn btn-default btn-sm" do %>
          <span class="glyphicon glyphicon-chevron-down"></span>
          Downvote
          <%= x.get_downvotes.size %>
          < end %> -->

          <div>
            <br><br>
            <% if user_signed_in? %>
              <p> Contributor: <%= x.contributor %> </p>
              <p> Email: <%= x.email %> </p>
              <p> Phone: <%= x.phone %> </p>
              <p> <%= link_to 'Destroy', x, method: :delete, data: { confirm: 'Are you sure?' } %> </p>
            <% end %>
          </div>
          </div>
          

</div> </p>
<% end %>
</div>


<!-- <button type="button" onclick="Rails.ajax({url: '/videos/random', type: 'get'})" style="padding: 6px">
  Get Random Book
</button> -->

<!-- <div class="random-book"></div> -->