<div class="row">
  <% @videos.each do |x| %>
    <div class="col-md-4">  
      <video controls width="310" height="230" src="<%= x.file %>"></video>
      <div class="btn-group row">
        <div class="col-md-12">
          <%= link_to upvote_video_path(x), method: :put, remote: :true, id: "like-count", class: "btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-chevron-up"></span>Upvote
            <div> <%= x.get_upvotes.size.to_s + " / " + x.title %> </div>
          <% end %>
    
          <%#= link_to dislike_video_path(x), method: :put, remote: :true, id: "like-count", class: "btn btn-default btn-sm" do %>
            <!-- <span class="glyphicon glyphicon-chevron-down"></span>Downvote -->
            <%#= x.get_downvotes.size %>
          <%# end %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <br>
          <table class="table table-bordered" style="width:310px;">
            <tbody>
              <tr>
                <td><strong>Contributor:</strong></td>
                <td><%= x.contributor %></td>
              </tr>
              <tr>
                <td><strong>Email:</strong></td>
                <td><%= x.email %></td>
              </tr>
              <tr>
                <td><strong>Phone:</strong></td>
                <td><%= x.phone %></td>
              </tr>
              <tr>
                <td></td>
                <td><%= link_to 'Destroy', x, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= will_paginate @videos %>

<br><br>
