<nav class="fh5co-nav" role="navigation">
  <div class="container">
    <div class="fh5co-top-logo">
      <div id="fh5co-logo"><a href="<%= home_path %>">Day In The Life Of</a></div>
    </div>
    <div class="fh5co-top-menu menu-1 text-center">
      <ul>
        <li><a href="<%= videomasterindex_search_path %>">Search</a></li>
        <li><a href="<%= videomasterindex_getpaid_path %>">Get Paid</a></li>
        <li><a href="<%= videomasterindex_contactus_path %>">Contact Me</a></li>
        <li><a href="<%= new_video_path %>">Videos New</a></li>
      </ul>
    </div>
  </div>
</nav>
<br />
<br />
<br />