<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>
<body>
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="head">
        <div class="row-fluid">
            <div class="span12">
                <div class="span6">
                    <!--<h1 class="muted">Day in the Life of..</h1>-->
                </div>
            </div>
        </div>

        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li>
                            <a href=<%=root_path%>>Day In The Life Of</a>
                        </li>

                        <li>
                            <a href="/videomasterindex/search">Search</a>
                        </li>

                        <% if @beenhere %>

                            <li> 
                                <a href='/videomasterindex/getpaid' data-step='1' data-intro='Learn How to Get Paid By Us!' data-position="right"> Get Paid </a> 
                            </li>

                        <% else %>

                            <li> 
                                <a href='/videomasterindex/getpaid'> Get Paid </a> 
                            </li>

                        <% end %>





                        <li>
                            <a href="/videomasterindex/contactus">Contact Me</a>
                        </li>

                        <li>
                            <a href="/videos/new">Videos New</a>
                        </li>
                                                
                        <li class="span4 offset2">
                            <% if user_signed_in? %>
                                <button class="btn pull-right"> <%= link_to "Sign out", destroy_user_session_path, :method => :delete %> </button>
                            <% end %>
                            <% if !user_signed_in? %>
                                <button class ="btn pull-right"> <a href="/users/sign_up">Sign In</a> </button>
                            <% end %>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= yield %>

</body>
</html>